{% extends 'base/main.html' %}
{% block content %}

<body>

    <div class="align-center col-10 offset-1">
        <div class="d-flex justify-content-between align-items-center">
        <p class="lead ml-0">Our Items</p>
        <form class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" name="itemname" class="form-control-sm mr-2" placeholder="Enter a item" />

            <button style="margin-left: 10px;" hx-post="{% url 'add-item' %}" hx-target="#item-list" type="submit" class="btn btn-success btn-sm">Add Item</button>
        </form>

        </div>
    <section id="film-list" class="col-12">
     <div id="item-list">
         {% include 'base/partials/list_items.html' %}

     </div>
    </section>



</body>
{% endblock content %}
